<div class="page-header text-center">
        <h1>{{foto.titulo}}</h1>
    </div>
    <p class="alert alert-info" ng-show="mensagem.length">{{mensagem}}</p>
    <form novalidate name="formulario" class="row" ng-submit="submeter()">
        <div class="col-md-6">
            <div class="form-group">
                <label>Título</label>
                <input name="titulo" class="form-control" ng-model="foto.titulo" required ng-maxlength="20"/>
                <p ng-show="formulario.$submitted && formulario.titulo.$error.required" class="alert alert-danger">
                    O título é obrigatório!
                </p>
                <p ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="alert alert-danger">
                    O tamanho máximo para o título é de 20 caracteres!
                </p>
            </div>
            <div class="form-group">
                <label>URL</label>
                <input name="url" class="form-control" ng-model="foto.url" required/>
                <p ng-show="formulario.$submitted && formulario.url.$error.required" class="alert alert-danger">
                    A URL da imagem é obrigatória!
                </p>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea name="descricao" class="form-control" ng-model="foto.descricao">
                </textarea>
            </div>
            <div class="form-group">
                <label>Grupo</label>
                <minhas-categorias grupo="foto.grupo" name="grupo"></minhas-categorias>
                <p ng-show="formulario.$submitted && formulario.grupo.$error.required">
                    O grupo é obrigatório
                </p>
            </div>
    
            <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
                Salvar
            </button>
             <a meu-focus href="/" class="btn btn-primary">Voltar</a>
            <hr>
        </div>
        <div class="col-md-6">
            <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
        </div>
    </form>