.leia-mais {
    padding: 0.33em;
    margin: 1em;
    display: block;
    font-size: 1.5rem;
    text-align: center;
   background-color: #E6E7E8;
}

.post-blog {
    padding-bottom: 1.9rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.25rem;
}
