.legenda-titulo {
    font-weight: bold;
    margin-top: 1em;
}

.rotulo {
    display: block;
}

.campo {
    padding: 0.5em;
    border: 1px solid gray;
    font-family: inherit;
    font-size: 100%;
}

.campo-cheio {
    width: 100%;
}

.campo:focus {
    background-color: rgb(255, 255, 204)
}

.campo:invalid {
    box-shadow: 0px 0px 1px 1px rgba(245,49,49,1);
}

fieldset > fieldset {
    display: inline;
}

label[for="outro"] {
    display: inline;
}

.botao-enviar {
    margin-left: auto;
    margin-top: 1em;
    background-color: #3C1D3D;
    font-size: 1.2em;
    border: 0px;
    color: white;
    padding: .5em 1em;
    font-family: "Open Sans Condensed", sans-serif;
    display: block;
}

.botao-enviar:hover, .botao-enviar:focus {
    background-color: #8C1D3D;
}

.texto-formulario {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}


input[value="outro"] ~ .outro {
    display: none; 
}

input[value="outro"]:checked ~ .outro {
    display: inline; 
}

.com-icone {
    position: relative;
}

.com-icone::after {
    content: '';
    width: 2em;
    height: 2em;
    background-color: #8C1D3D;
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat; 
    position: absolute;
    top: 100%;
    left: 0;
}

.com-icone + input {
    position: relative;
    left: 2em;
    width: calc(100% - 2em);
}

.com-icone[for="nome"]::after {
    background-image: url(../imagens/usuario.png);
}

.com-icone[for="email"]::after {
    background-image: url(../imagens/email.png);
}