
.inicio-post {
    position: absolute;
    top: 4em;
    left: 40ch;
    color: #000;
    width: 85ch;
    background-color: #fff;
    height: 6em;
    padding: 1em;
}

.palavra-home {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    color: #D5447E;
    position: absolute;
    font-size: 1.5rem;
}

.eficiencia {
     top: 20%;
     left: 75%;
}

.boas-praticas {
    bottom: 20%;
    left: 15%;
}

.codigo-limpo {
    bottom: 45%;
    left: 10%;
}

.foto-home {
    height: 200px;
}

.css3 {
    bottom: 40%;
    left: 27%;
}

.html5 {
    top: 40%;
    right: 15% 
}

.javascript {
    top: 10%;
    right: 30%
}

.acessibilidade {
    top: 30%;
    left: 23%;
}

.responsivo {
    top: 15%;
    left: 10%;
}

.agilidade {
    top: 10%;
    left: 27%;
}

.design {
    top: 45%;
    right: 30%;
}

.otimizacoes {
    bottom: 20%;
    right: 20%;
}

header.titulo-principal {
    position: relative;
}

header.titulo-principal h1 {
    font-size: 4rem;
}

.subtitulo-principal {
    font-size: 1rem;
}

.saudacao p {
    color: #99A;
    line-height: 1;
    margin: 3rem 0;
    padding: 0 4rem;
    margin: 4rem 0;
}
.saudacao-inicio {
    color: #889;
    font-size: 3rem;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
    font-size: 3rem;
}
.saudacao em {
    color: #851944;
    font-size: 5.2rem;
}
.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 400px;
    display: block;
    text-align: center;
    margin: 4rem auto;
    padding: 0.6rem 0;
}
.secao-inicio h2 {
    text-transform: uppercase;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
}
.trabalhos h2 {
    color: #FFF;
    margin: 1em 1ch 1em;
    font-size: 3rem;

}
.trabalhos ul {
    overflow: hidden;
    border: 10px solid black;
    margin: 0 3ch;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    position: relative;
    background-color: #999;
    color: #FFF;
    border-bottom: 10px solid #851944;
}
.blog li a {
    color: #FCF;
}
footer {
    background-color: #000;
    color: #FFF;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

.titulo-blog {
    padding: 1em 1ch 0em;
    font-size: 3rem;
}

.subtitulo-blog {
    margin: 1.5rem;
}

.item-lista-blog {
    margin: 1rem 3rem;
}

.titulo-rodape {
    font-size: 3rem;
    padding: 1em 1ch 0;
}

.descricao-rodape {
    padding: 0 0 2rem 3ch;
}
