html, body {
    height: 100%;
    overflow-x: hidden;
}

.sites-maravilhosos {
    -webkit-transform: skew(-20deg);
    transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
}

.efeito-3d {
    perspective: 40em;
    top: 0;
    left: 0;
    height: 7em;
    width: 100%;
    position: absolute;
}

.banner {
    position: absolute;
    font-family: "Open Sans Condensed", sans-serif;
    transform-origin: 0 0;
    top: 0;
    right: 0;
    transform: translate(6.5754em, -2.4749em) rotate(45deg);
    width: 14em;
    padding: 1em 0;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1;
    font-size: .5em;
    border: .25em solid #12242C;
    background-color: #3C1D3D;
    color: #fff;
}

.inicio-post {
    position: absolute;
    top: 4em;
    left: 40ch;
    color: #000;
    width: 85ch;
    background-color: #fff;
    height: 6em;
    padding: 1em;
}

.blog .mais-recente {
    background-color: white;
}

.blog li {
    width: 40%;
}

.palavras-home, .titulo-principal {
    transform-style: preserve-3d;
}

.palavra-home {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    color: #D5447E;
    position: absolute;
    font-size: 1.5rem;
}

.palavras-home li {
    font-size: 400%;
}

.eficiencia {
    transform: translate(-29%,-6%) rotate(-10deg) scale(0.25);
    top: 20%;
    left: 75%;
}

.boas-praticas {
    transform: translate(-46%,48%) rotate(10deg) translateZ(1em) scale(0.25);
    bottom: 20%;
    left: 15%;
}

.codigo-limpo {
    transform: translate(-47%,36%)  rotate(-10deg) translateZ(-1em) scale(0.25);
    bottom: 45%;
    left: 10%;
}

.foto-home {
    height: 200px;
    border-radius: 10% 50% / 50% 10%;
}

.css3 {
    transform: translate(-54%,67%) rotate(10deg) translateZ(-2em) scale(0.25);
    bottom: 40%;
    left: 27%;
}

.html5 {
    transform: translate(37%,-68%) rotate(10deg) translateZ(-3em) scale(0.25);
    top: 40%;
    right: 15%;
}

.javascript {
    transform: translate(45%,-42%) rotate(-10deg) translateZ(1em) scale(0.25);
    top: 10%;
    right: 30%;
}

.acessibilidade {
    transform: translate(-89%,-112%) rotate(10deg) translateZ(-8em) scale(0.25);
    top: 30%;
    left: 23%; 
}

.responsivo {
    transform: translate(-40%,-43%) rotate(10deg) translateZ(-8em) scale(0.25);
    top: 15%;
    left: 10%;
}

.agilidade {
    transform: translate(-60%,65%) rotate(10deg) translateZ(-6em) scale(0.25);
    top: 10%;
    left: 27%;
}

.design {
    transform: translate(41%,-46%) rotate(10deg) translateZ(1em) scale(0.25);
    top: 45%;
    right: 30%;
}

.otimizacoes {
    transform: translate(72%,65%) rotate(-10deg) translateZ(-9em) scale(0.25);
    bottom: 20%;
    right: 20%;
}

header.titulo-principal {
    position: relative;
}

header.titulo-principal h1 {
    font-size: 4rem;
}

.subtitulo-principal {
    font-size: 1rem;
}

.saudacao p {
    color: #99A;
    line-height: 1;
    margin: 3rem 0;
    padding: 0 4rem;
    margin: 4rem 0;
}
.saudacao-inicio {
    color: #889;
    font-size: 3rem;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
    font-size: 3rem;
}
.saudacao em {
    color: #851944;
    font-size: 5.2rem;
}
.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 400px;
    display: block;
    text-align: center;
    margin: 4rem auto;
    padding: 0.6rem 0;
}
.secao-inicio h2 {
    text-transform: uppercase;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
}
.trabalhos h2 {
    color: #FFF;
    margin: 1em 1ch 1em;
    font-size: 3rem;

}
.trabalhos ul {
    overflow: hidden;
    border: 10px solid black;
    margin: 0 3ch;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    position: relative;
    background-color: #999;
    color: #FFF;
    border-bottom: 10px solid #851944;
}
.blog li a {
    color: #FCF;
}
footer {
    background-color: #000;
    color: #FFF;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

.titulo-blog {
    padding: 1em 1ch 0em;
    font-size: 3rem;
}

.subtitulo-blog {
    margin: 1.5rem;
}

.item-lista-blog {
    margin: 1rem 3rem;
}

.titulo-rodape {
    font-size: 3rem;
    padding: 1em 1ch 0;
}

.descricao-rodape {
    padding: 0 0 2rem 3ch;
}
